<div class="left-container">
  <% @game.map.height.times do |row| %>
    <div class="p-1">
      <% @game.map.length.times do |column| %>
        <% map_tile = matching_map_tile(@map_tiles, row, column) %>

        <% if map_tile.impassable_terrain_type? %>
          <%= render partial: "map_tiles/impassable" %>
        <% elsif occupant_on_map_tile?(map_tile, @characters) %>
          <%= render partial: "map_tiles/character" %>
        <% elsif occupant_on_map_tile?(map_tile, @deceased_characters) %>
          <%= render partial: "map_tiles/dead_character" %>
        <% elsif occupant_on_map_tile?(map_tile, @enemies) %>
          <%= render partial: "map_tiles/enemy" %>
        <% elsif map_tile.exit_terrain_type? %>
          <%= render partial: "map_tiles/exit" %>
        <% else %>
          <%= render partial: "map_tiles/open" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="right-container">
  <% unless @game.successful? || @game.over? %>
    <div class="m-3">
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :move, value: Character::LEFTWARDS_MOVE %>
        <button type="submit" class="btn btn-dark">Left</button>
      <% end %>
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :move, value: Character::UPWARDS_MOVE %>
        <button type="submit" class="btn btn-dark">Up</button>
      <% end %>
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :move, value: Character::RIGHTWARDS_MOVE %>
        <button type="submit" class="btn btn-dark">Right</button>
      <% end %>
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :move, value: Character::DOWNWARDS_MOVE %>
        <button type="submit" class="btn btn-dark">Down</button>
      <% end %>
    </div>
    <div class="m-3">
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :attack, value: true %>
        <button type="submit" class="btn btn-dark">Attack</button>
      <% end %>
      <%= form_with model: @game, class: "inline" do |form| %>
        <%= form.hidden_field :defend, value: true %>
        <button type="submit" class="btn btn-dark">Defend</button>
      <% end %>
    </div>
  <% end %>

  <div class="m-3">
    <a class="btn btn-secondary" href="/games">Exit Game</a>
  </div>

  <% unless @game.successful? || @game.over? %>
    <% character = @characters.first %>
    <div>
      <p class="m-0"><strong>
        Health: <%= character.health %> - Actions: <%= character.actions %>
      </strong></p>
      <p class="m-0"><strong>
        Attack: <%= character.attack %> - Defense: <%= character.defense %>
      </strong></p>

      <% if character.items.present? %>
        <p class="m-0"><strong>Items:</strong></p>
        <% character.items.each do |item| %>
          <p class="m-0"><%= item.name %></p>
          <p class="m-0"><%= item.ability %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
