<!DOCTYPE html>
<html>
  <head>
    <title>LabyrinthOfDoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="title m-2">
      <h1>Labyrinth of Doom</h1>
    </div>

    <div class="outer-container m-2">
      <div class="main-container">
        <%= yield %>
      </div>
    </div>

    <% flash.each do |type, message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  </body>
</html>
